AZURE_OPENAI_ENDPOINT="<https://XXXXX.openai.azure.com/>"
AZURE_OPENAI_API_KEY="<API_KEY>"
AZURE_AI_FOUNDRY_KEY="<AZURE_AI_FOUNDRY_KEY>"
STORAGE_BLOB_SAS="<SAS_URL>"
STORAGE_CONTAINER_NAME="<Audio_Files_will_be_uploaded_here>"
STORAGE_NAME="<STORAGE_NAME>"
STORAGE_KEY="<STORAGE_KEY>"